"*":
  "exception-reporting":
    userId: "e107ac59-a226-3fbe-8440-650904406f4c"
  welcome:
    showOnStartup: false
  core:
    themes: [
      "unity-ui"
      "monokai"
    ]
  editor:
    invisibles: {}
    fontFamily: "Fantasque Sans Mono"
    fontSize: 20
  "unity-ui":
    showIcons: true
    colorStatusIndicatorsInTreeView: true
