---
- name: install CLI tools (OSX)
  homebrew: name={{ item }} state=present
  with_items:
    - git
    - s3cmd
    - brew-cask
    - wget
    - hub
    - python
    - ruby
    - node
    - archey
    - brew-gem
    - brew-pip
    - hub
    - watchman
    - ffmpeg
    - youtube-dl
    - zsh
  when: ansible_os_family == 'Darwin'

- name: update apt
  apt: update_cache=yes
  when: ansible_os_family == 'Ubuntu'

- name: install CLI tools (Ubuntu)
  apt: name={{ item }} state=present
  with_items:
    - build-essential
    - clang
    - libicu-dev
    - nginx
    - node
    - python
    - ruby
    - wget
    - zsh
  when: ansible_os_family == 'Ubuntu'

- name: install gem tools
  gem: name={{ item }} state=present
  with_items:
    - jekyll
    - kramdown
  when: ansible_os_family == 'Darwin'

- name: install photoshop cs5
  homebrew_cask: name={{ item }} state=present
  with_items:
    - adobe-photoshop-cs5
  when: ansible_os_family == 'Darwin' and ansible_env.CI is not defined

- name: install binary casks
  homebrew_cask: name={{ item }} state=present
  with_items:
    - 1password
    - azure-cli
    - alfred
    - archiver
    - arq
    - atom
    - beamer
    - charles
    - chromium
    - doxie
    - dropbox
    - dropletmanager
    - flux
    - google-chrome-canary
    - istat-menus
    - java
    - media-converter # could make its own role and clone the added presets i use
    - nylas-n1
    - openemu-experimental
    - sidestep
    - slate
    - soulver
    - steermouse
    - tagger
    - transmission
    - transmit
    - virtualbox
    - visual-studio-code
    - vlc
  when: ansible_os_family == 'Darwin'

- name: create ios emulator app link
  command: ln -s /Applications/Xcode.app/Contents/Developer/Applications/Simulator.app /Applications/iOS\ Simulator.app
  when: ansible_os_family == 'Darwin'

- name: install fonts
  homebrew_cask: name={{ item }} state=present
  with_items:
    - font-source-code-pro
    - font-hack
    - font-fantasque-sans-mono
  when: ansible_os_family == 'Darwin'

- name: apply OS X for hackers settings
  script: osx
  when: ansible_os_family == 'Darwin'

- name: create dirs
  file: name={{ ansible_env.HOME }}/{{ item }} state=directory
  with_items:
    - 'Code'
    - 'Code/scratch'
